/* noto sans kr */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

:root {
  --article-basic-color: #515151;
  /* --article-hover-color: #000000; */
  --article-max-width: 1240px;
  --article-arrow-size: 30px;
  --article-arrow-color: #d8d8d8;
}

.article {
  width: var(--article-max-width);
  height: 100%;
  margin: 0 auto;
  margin-top: 60px;
}

/* ---------- article-title ---------- */
.article-title {
  display: inline;
  color: var(--article-basic-color);
  font-size: 1.7rem;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  cursor: pointer;
}

/* ---------- article-image ---------- */
.article-image {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.article-arrow {
  min-width: var(--article-max-width);
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  z-index: 2;
}

.article-pre {
  width: var(--article-arrow-size);
  height: var(--article-arrow-size);
  border-top: 2px solid var(--article-arrow-color);
  border-left: 2px solid var(--article-arrow-color);
  transform: translateX(15px) translateY(-50%) rotate(-45deg);
  cursor: pointer;
}
.article-next {
  width: var(--article-arrow-size);
  height: var(--article-arrow-size);
  border-top: 2px solid var(--article-arrow-color);
  border-right: 2px solid var(--article-arrow-color);
  transform: translateX(-15px) translateY(-50%) rotate(45deg);
  cursor: pointer;
}

.article-recommend {
  display: flex;
  margin-top: 1rem;
}
.article-recommend-items {
  max-width: 240px;
  min-width: 240px;
  height: 320px;
  background-color: rgb(205, 172, 117);
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.article-recommend-items:last-child {
  margin-right: 0;
}