.items-recommend {
  display: flex;
  margin-top: 80px;
}


.items{
  max-width: 240px;
  min-width: 240px;
  height: 320px;
  background-color: rgb(205, 172, 117);
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
  }