.login, .signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{
    height: 100px;
}
.login-container{
  width: 400px;
  padding : 60px;
  border: 0px solid rgb(245, 245, 45);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e4e4e4;
  box-shadow: 15px 15px 10px rgb(209, 208, 208); 
}

.login-container > h2{
    font-size: 24px;
    margin-bottom: 30px;
}

.input{
    width: 70%;
}

.input-group > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
.input-group > input::placeholder{
    color: #D2D2D2;
}
.input-group > input[type="submit"]{
    color: #fff;
    font-size: 16px;
    background-color: #6A24FE;
    margin-top: 20px;
}

.input-group > label{
    color: #999999;
}
