:root {
  --login-height: 600px;
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: var(--login-height);
  margin: 0 auto;
  background-color: aqua;
}

.card-switch {
  position: inherit;
  width: 180px;
  height: 50px;
  background-color: #a4a4a4;
  border-radius: 50px;
}
.switch::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  display: block;
  width: 94px;
  height: 44px;
  border-radius: 50px;
  background-color: #4f4f4f;
}
.text {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
}


/* ---------- left-box ---------- */
.left-box {
  width: 50%;
  height: 100%;
  background-color: rgb(92, 92, 92);
}
.left-box::after {
  content: "";
  width: 100px;
  height:var(--login-height);
  background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
}

.flip-card-front {
  display: flex;
  flex-direction: column;
}
.input-group {
  width: 400px;
  height: 50px;
  border-radius: 10px;
}
.buttonToLogin {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(233, 227, 173);
}

.flip-card-back {
  display: flex;
  flex-direction: column;
}
.buttonToSignUp {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(233, 227, 173);
}
/* ---------- right-box ---------- */
.right-box {
  width: 50%;
  height: 100%;
  background-color: rgb(204, 204, 204);
}