/* noto sans kr */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

:root {
  --products-basic-color: #515151;
}

.products {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

/* ---------- filter ---------- */
.products-filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--products-basic-color);
}

.filter-method {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  cursor: default;
}
.method {
  display: flex;
}
.method-each {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  margin-right: 10px;
  cursor: pointer;
}

.filter-color {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  cursor: default;
}
.color {
  display: flex;
}
.color-each {
  width: 100px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid rgba(81, 81, 81, 0.2);
  background-color: #E5E5E5;
  margin-right: 18px;
  cursor: pointer;
}
.color-each:nth-child(2) {
  background-color: #EDE8D7;
}
.color-each:nth-child(3) {
  background-color: #FFEEC0;
}


/* ---------- root ---------- */
.products-root {
  display: flex;
  margin-top: 20px;
}
.root {
  margin-right: 10px;
}

/* ---------- item-box ---------- */
.products-items {
  display: flex;
}

.item-box {
  width: 240px;
  height: 320px;
  background-color: aquamarine;
}