.search {
  width: 20px;
  height: 20px;
}

.icon {
  background: url(../images/research.png);
  display: block;
  text-indent: -9999em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.none {
  width: 100vw;
  height: 0px;
  top: 120px;
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in;
  cursor: default;
  align-items: flex-end;
  visibility: hidden;
  z-index: -1; /* header에 category보다 낮은 위치에 */
}

.show {
  width: 100vw;
  height: 50px;
  top: 120px;
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: all 0.3s ease-in;
  background-color: white;
  align-items: flex-end;
  cursor: default;
}

.searchbox {
  height: 30px;
  border: none;
  border-bottom: 1px solid #34404b;
  width: 540px;
  margin-right: 10px;
  outline: none;
  background-color: transparent;
}

.searchbox:focus {
  border-bottom-color: #88bcec;
}

.search input[type="submit"] {
  margin-bottom: 10px;
  border: none;
}