.search {
  width: 20px;
  height: 20px;
}

.icon {
  background: url(../images/research.png);
  order: 1; /* 부모와 자식의 순서를 거역하는 용도 */
  text-indent: -9999em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.none {
  width: 100vw;
  height: 0;
  top: 150px;
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 0;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  transition: all 0.3s ease-in;
  cursor: default;
  align-items: flex-end;
  z-index: -1; /* header에 category보다 낮은 위치에 */
}

.show {
  width: 100vw;
  height: 50px;
  top: 150px;
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: all 0.3s ease-in;
  background-color: white;
  border-top: 1px solid #515151;
  align-items: flex-end;
  cursor: default;
}

.search-box {
  height: 30px;
  border: none;
  border-bottom: 1px solid #34404b;
  width: 540px;
  margin-right: 10px;
  outline: none;
  background-color: transparent;
}

.search-box:focus {
  border-bottom-color: #88bcec;
}

.search input[type="submit"] {
  margin-bottom: 10px;
  border: none;
}

.search-result-show {
  position: absolute;
  left: 0;
  top: 150px;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  transition: all 0.3s ease-in;
  overflow: scroll;
  z-index: -3;
  cursor: default;
}
.search-result-none {
  position: absolute;
  left: 0;
  top: 150px;
  width: 100%;
  height: 0;
  transition: all 0.3s ease-in;
  z-index: -3;
  overflow: hidden;
  transition: hidden 0s ease-in;
}

.search-result-item-show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 580px;
  height: 50px;
  transition: all 0.3s ease-in;
  margin-top: 10px;
  text-indent: 0;
  z-index: 2;
  cursor: pointer;
}
.search-result-item-show:first-child {
  margin-top: 100px;
}

.item-name {
  min-width: 100px;
  max-width: 100px;
  border-right: 1px solid black;
  font-size: 1rem;
}
.item-description {
  font-size: 0.8rem;
}